# Python
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
env.bak/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.egg-info/
dist/
build/